body {
}
#hero-banner {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.gold {
  color: #ffad5a;
}
.btn {
  background-color: #ff5959;
  border-radius: 5px;
  padding: 12px 20px;
  border: none;
  color: white;
}
.hero-text {
  width: 40%;
}
.hero-text h1 {
  font-size: 60px;
  border-left: 5px solid #ff5959;
  font-weight: 400;
  padding-left: 5px;
}
.hero-img {
  width: 30%;
}
.hero-img img {
  width: 100%;
}
.all-box {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.first-box {
  width: 28%;
  border: 1px solid;
  padding: 10px 10px 20px 20px;
  background-color: #4f9da61a;
  border-radius: 26px;
}
.first-box img {
  width: 45%;
}
#develop-box {
  background-image: url(./images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: left;
  background-size: 200px;
  width: 95%;
  margin: auto;
}
.develop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  width: 80%;
  margin-left: 90px;
}
.develop-img {
  width: 40%;
}
.develop-img img {
  width: 100%;
}
.develop-text {
  width: 50%;
}
.global-text {
  width: 50%;
}
.global-img {
  width: 40%;
}
.global-img img {
  width: 100%;
}
.global {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 80px 0;
  width: 80%;
}
#global-box {
  background-image: url(./images/shapes/shape-1.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 200px;
  width: 95%;
  margin: auto;
}
